<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, 
            quae ipsum officiis blanditiis sint minima veniam labore repellendus dolorem nesciunt?</p>
    </div>
</div>